html{
    overflow: hidden;
}

#panel{
    position: absolute;
    height: 100%;    
    background: transparent;
    right: 0;
    top: 0;
}

#panel_content{
    position: relative;
    width: 175px;
    height: 100%;
    background: #dff0d8;
    float:right;
}

#panel-tab{
    position: relative;
    width: 0px;
    height: 100%;
    background-color: transparent;
    float:left;
}

#myTab{
    position: relative;
    top: 150px;
    background: #dff0d8;
    height: 53px;
    right: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    transform: rotate(90deg);
}

#myTab p{
    margin: 0;
    width: 149px;
} 

.position-absolute{
    position: absolute;
}