<!DOCTYPE html>
<html>
<head>
    <title>My Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/highlight.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/go.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/highlight.js') }}"></script>
</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
</div>


<script type="text/javascript" src="{{ url_for('static', filename='js/samples.js') }}"></script>
</body>
</html>