<!DOCTYPE html>
<html>

<head>
    <title>My Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>

    <script>
        $.urlParam = function (param) {
            const results = new RegExp('[\?&]' + param + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            } else {
                return decodeURI(results[1] || 0);
            }
        };
    </script>
    {% block header %}

    {% endblock %}
</head>

<body class="container-fluid">
{% block content %}
{% endblock %}
</body>

</html>