{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" novalidate>
                <div class="form-group">
                    <label for="fileupload">Update test data</label>
                    <input type="file" class="form-control" name="data_file" id="data_file">
                </div>
                <button class="btn btn-primary">Click Me</button>

            </form>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label for="itemList">Select Item List</label>
                <select id="itemList" class="form-control"></select>
            </div>
        </div>
    </div>
</div>



<div class="row" id="container"></div>

</div>
<script>
    fetch('/data').then(function (res) {
        res.json().then(function (data) {
            items = [];
            data.slice(1).forEach(function (res) {
                items.push(res[0])
                items.push(res[1])
            })
            uItem = Array.from(new Set(items));

            uItem.forEach(function (item) {
                $('#itemList').append('<option value="' + item + '">' + item + '</option>');
            })
        })
    })

    $("#itemList").change(function () {
        $("#itemList option:selected").each(function () {
            location.href = 'index?param=' + $(this).text()
        });
    });

    $.urlParam = function (param) {
        const results = new RegExp('[\?&]' + param + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        } else {
            return decodeURI(results[1] || 0);
        }
    }

    if ($.urlParam('param')) {
        drawFCM($.urlParam('param'));
    }

</script>


{% endblock %}