{% extends "base.html" %}

{% block content %}

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close-btn close">&times;</span>
            <h4>View Comparison: <strong id="modal-title">Kinematics-Linear Motion</strong></h2>
        </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sub-topic</th>
                        <th scope="col">Exparts</th>
                        <th scope="col">Students</th>
                    </tr>
                </thead>
                <tbody id="tBody">

                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="close-btn btn btn-danger">Close</button>
        </div>
    </div>

</div>



<div class="container postion-absolute">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" novalidate>
                <div class="form-group">
                    <label for="fileupload">Update test data</label>
                    <input type="file" class="form-control" name="data_file" id="data_file">
                    <small>{{data}}</small>
                </div>
                <button class="btn btn-primary">Upload File</button>

            </form>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="itemList">Select Item List</label>
                <select id="itemList" class="form-control">
                    <option value="null">Select a option</option>
                </select>
            </div>
            <button class="btn btn-primary" id="myBtn">Viw Compare Data</button>
        </div>
    </div>
</div>



<div class="row" id="container"></div>
</div>


<div id="panel">
    <div id="panel_content">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data" action="/students" novalidate>
                <div class="form-group">
                    <label for="students_data_file">Update Students data</label>
                    <input type="file" class="form-control" name="students_data_file" id="students_data_file">
                    <small>{{data}}</small>
                </div>
                <button class="btn btn-primary">Click Me</button>
            </form>
        </div>
    </div>

    <div id="panel-tab">
        <div id="myTab">
            <p>View Students Data</p>
        </div>
    </div>

</div>

<script>
    fetch('/data').then(function (res) {
        res.json().then(function (data) {
            items = [];
            data.slice(1).forEach(function (res) {
                items.push(res[0])
                items.push(res[1])
            })
            uItem = Array.from(new Set(items));

            uItem.forEach(function (item) {
                $('#itemList').append('<option value="' + item + '">' + item + '</option>');
            })
        })
    })
    $("#itemList").change(function () {
        $("#itemList option:selected").each(function () {
            if ($(this).text() != null) {
                location.href = 'index?param=' + $(this).text()
            }

        });
    });
    $.urlParam = function (param) {
        const results = new RegExp('[\?&]' + param + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        } else {
            return decodeURI(results[1] || 0);
        }
    }
    if ($.urlParam('param')) {
        drawFCM($.urlParam('param'));
    }

    $(function () {
        $("#panel_content").width(0);
        $("#panel #myTab").click(function (ev) {
            if ($(this).hasClass("isFold")) {
                $("#panel_content").stop().animate({ width: "0px" }, 700);
            } else {
                $("#panel_content").stop().animate({ width: "600px" }, 700);
                draw_fcm_for_students();
            }
            $(this).toggleClass("isFold");
        });
    });

    // panel_content

    // modal script

    // When the user clicks the button, open the modal 
    $("#myBtn").click(async function () {

        var outputstudents = [];
        await getData('static/file/outputstudents.csv').then(function (res) {
            outputstudents = res;
        });
        await getData('static/file/output.csv').then(function (res) {
            $("#modal-title").html($.urlParam('param'));
            res.filter(function (fd) {
                return fd.source == $.urlParam('param')
            }).forEach(function (d, index) {
                $("#tBody").append('<tr><th scope = "row" >' + index + '</th><td>' + d.target + '</td><td>' + outputstudents[index].value + '</td><td>' + d.value + '</td></tr > ')
            })
        });

        $("#myModal").css({ "display": "block" });
    });

    // When the user clicks on <span> (x), close the modal
    $(".close-btn").click(function () {
        $("#myModal").css({ "display": "none" });
    });

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == document.getElementById('myModal')) {
            $("#myModal").css({ "display": "none" });
        }
    }

</script>


{% endblock %}